<!DOCTYPE html>
<script src="/static/app.js"></script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Portal</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="" class="sign-in-form">
            <h2 class="title">Sign In</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="password" placeholder="Password" />
            </div>
            <!-- <div class="inline_block">
              <a href="/admin"> Administrator Login</a>
            </div> -->
            <div class="inline_block">
              <a href="/reset_password">Forget Password</a>
            </div>
            <p id="response" style="color: red"></p>
            <button
              type="button"
              class="btn"
              onclick="submitForm_sign_in()"
              id="sign-in-btn"
            >
              Sign In
            </button>

            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here?</h3>
            <p>
              This self-managing music player offers seamless playlist creation
              and organization. With intelligent categorization, multi-format
              support, and user-friendly controls, it ensures quick access to
              your favorite tracks. Enjoy a personalized and efficient listening
              experience tailored to your music preferences.
            </p>
            TODO: change name here
            <button
              onclick="window.location.href='/sign_up'"
              class="btn transparent"
              id="sign-up-btn"
            >
              Sign Up
            </button>
          </div>
        </div>

        <div class="panel right-panel">
          <div class="content">
            <h3>One of us?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
              minus natus est.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
